<!-- <head> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="テキスト">
<link rel="shortcut icon" href="../../favicon.ico" />
<script src="https://kit.fontawesome.com/6270f2e9f0.js"></script>
<title>CodeVillage</title>
<!-- </head> -->