<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>CodeVillage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/6270f2e9f0.js"></script>

</head>

<body>
    <% include ./src/components/header %>
    <section class="contact outer" id="contact">
        <div class="inner">
            <div class="title">
                <p class="title__num">('3')</p>
                <p class="title__cv">Code Village</p>
                <h2 class="title__text">事前課題ダウンロード</h2>
            </div>
            <p class="contact__description">
                以下のアンケートにご回答ください。<br>
                ご回答後、ダウンロードボタンをクリックすると、事前課題の第1回「HTML基礎」、第2回「CSS基礎」を無料でダウンロードできます。
            </p>
            <form action="../download.php" name="download" method="POST">
                <table>
                    <tr class="name">
                        <th><label for="name">お名前(フルネーム)</label></th>
                        <td class="required true">必須</td>
                        <td><input type="text" id="name" name="name"></td>
                    </tr>
                    <tr class="age">
                        <th><label for="age">年齢</label></th>
                        <td class="required false">任意</td>
                        <td><input type="text" id="age" name="age"></td>
                    </tr>
                    <tr class="address">
                        <th><label for="address">お住まい</label></th>
                        <td class="required false">任意</td>
                        <td><input type="text" id="address" name="address"></td>
                    </tr>
                    <tr class="email">
                        <th><label for="email">メールアドレス</label></th>
                        <td class="required true">必須</td>
                        <td><input type="email" id="email" name="email"></td>
                    </tr>
                    <tr class="phone">
                        <th><label for="name">電話番号</label></th>
                        <td class="required true">必須</td>
                        <td><input type="text" id="phone" name="phone"></td>
                    </tr>
                    <tr>
                        <th>ダウンロードの目的</th>
                        <td class="required true">必須</td>
                        <td>
                            <select class="sample" id="js-goal" name="opportunity" required>
                                <option value="" hidden>選択してください。</option>
                                <option value="プログラミングに興味がある">プログラミングに興味がある</option>
                                <option value="プログラミングを勉強している">プログラミングを勉強している</option>
                                <option value="教室を検討している">教室を検討している</option>
                                <option value="プログラミング学習に挫折しそう">プログラミング学習に挫折しそう</option>
                                <option value="その他">その他</option>
                            </select>
                            <textarea id="js-area" name="other" class="close-area" placeholder="目的を書いてください。"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td class="checkbox"><input type="checkbox" id="privacy">
                            <a href="./privacy_policy.html">プライバシーポリシー</a>
                            に同意します
                        </td>
                    </tr>
                </table>
                <div class="reservation-btn__wrapper">
                    <div class="reservation-btn__bg"></div>
                    <a onclick="toDownload()" id="js-validate1" class="reservation-btn__main"></a>
                    <a onclick="toDownload()" id="js-validate2" class="reservation-btn__description">ダウンロード</a>
                </div>
            </form>
        </div>
    </section>

    <% include ./src/components/footer %>
    <script>
        var goal = document.getElementById('js-goal');
        var op_t = document.getElementById('js-area');
        goal.onchange = function () {
            var selectedItem = this.options[this.selectedIndex];
            if (selectedItem.value === "その他") {
                op_t.classList.toggle('close-area');
            }
            else {
                op_t.classList.add('close-area');
            }
        }
        function toDownload() {

            var requiredObjects = [
                { object: document.getElementById('name'), isValid: false },
                { object: document.getElementById('email'), isValid: false },
                { object: document.getElementById('phone'), isValid: false },
                { object: document.getElementById('js-goal'), isValid: false }
            ]

            var lastNumOfObjects = requiredObjects.length - 1;

            for (var i = 0; i < requiredObjects.length; ++i) {
                if (!requiredObjects[i].object.value) {
                    window.alert('「必須」項目は入力必須です。')
                    break;
                } else if (i === lastNumOfObjects && requiredObjects[i].object.value) {
                    if (document.getElementById('privacy').checked) {
                        document.download.submit();
                    } else {
                        window.alert("ダウンロードには、プライバシーポリシーへの同意が必要です。");
                    }
                }
            }

        }
    </script>
</body>

</html>