<!DOCTYPE html>
<html lang="ja">

<head>
    <% include ./src/components/head %>
</head>

<body>
    <% include ./src/components/header %>
    <div class="wrapper">
        <section class="SCT outer">
            <div class="inner">
                <div class="title">
                    <h2 class="title__cv">特定商取引法に基づく表記</h2>
                    <p class="title__text">ACT ON SPECIFIED COMMERCIAL TRANSACRIONS</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">サービス名称</h4>
                    <p>Code Village(コードヴィレッヂ)</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">事業者名</h4>
                    <p>株式会社Permil</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">代表者名</h4>
                    <p>山田元紀</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">所在地</h4>
                    <p>[本社]</p>
                    <p>〒171-0022</p>
                    <p>東京都豊島区南池袋２丁目４６-１７</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">電話番号</h4>
                    <p>03-6915-2678</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">電話受付時間</h4>
                    <p>10:00〜19:00</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">URL</h4>
                    <p>https://codevillage.jp/</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">E-mail</h4>
                    <p>info@permil.jp</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">販売価格</h4>
                    <p>商品紹介ページをご参照ください。</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">お支払い方法</h4>
                    <p>銀行振込
                        <br>クレジットカード決済
                        <br>＊いずれのお支払い方法につきましても、お支払いは前払いとなります。
                    </p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">商品引渡時期</h4>
                    <p>ご入金確認後、初回授業のご案内を致します。</p>
                </div>
                <div class="SCT__item">
                    <h4 class="SCT__item__head">キャンセル・返品について</h4>
                    <p>＊各コースのキャンセルについての詳細は、各申込規約をご覧ください。</p>
                </div>
            </div>
        </section>
    </div>

    <% include ./src/components/footer %>
</body>

</html>