<!DOCTYPE html>
<html lang="ja">

<head>
    <% include ./src/components/head %>
</head>

<body>
    <% include ./src/components/header %>
    <section class="student-voice">
        <img src="./img/student3.png" alt="" />
        <p class="name">R.Wさん(21歳 大学生)</p>

        <p class="question">Q. なぜプログラミングに興味を持ったんですか？</p>
        <p class="answer">
            商業高校に通っていて簿記かパソコンの授業を選択しなければいけなくて、パソコンの授業を選んだんです。<br />
            大学に進学してからも軽くプログラミングの授業を受けて、本格的に勉強してみたくなりました。
        </p>

        <p class="question">Q. コツコツとした作業が好きなんですか？</p>
        <p class="answer">
            好きです。 ジグソーパズルとかが好きです。
            今でもアプリのゲームとかでやってます（笑）。
        </p>

        <p class="question">Q. システムやサービスを生み出すのは好きですか？</p>
        <p class="answer">達成感を感じられるので好きですね。</p>

        <p class="question">
            Q. プログラミングの好きなところはどんなところですか？
        </p>
        <p class="answer">
            コードを書いて、ちゃんと動いた時に楽しいし嬉しいです。
        </p>

        <p class="question">Q. 他のプログラミングスクールと比較しましたか？</p>
        <p class="answer">ほとんどしてないです。</p>

        <p class="question">Q. Code Villageを選んだ理由はなんですか？</p>
        <p class="answer">
            スパルタ教育なところがちゃんと自分自身に強制的に自学習を課せられると思い即決しました。<br />最終的にサイト作成など、目標も立てて挑みました。
        </p>

        <p class="question">Q. 授業の雰囲気はどうでしたか？</p>
        <p class="answer">
            楽しく受けることができました。<br />
            しっかり教えてくれて、凄く分かりやすかったですし、分からないところも質問しやすくて解決しやすかったと思います。<br />
            途中からレベル別に分けての授業になったりと、自分のスキルレベルやペースに合わせて受講できたのが凄く良かったです。<br />
            みんなで授業外で集まって勉強会などを開いたり出来た点もよかったです。
        </p>

        <p class="question">Q. 講師はどうでしたか？</p>
        <p class="answer">
            真剣に向き合ってくれて分かりやすかったですし、ユーモアもあって面白かったので楽しく受講できました。
        </p>

        <p class="question">Q. カリキュラムの内容やレベルはどうでしたか？</p>
        <p class="answer">
            僕は大学で少しやっていたので、最初の頃は復習感覚でしたけど、途中からはレベルが高くなってきて、自学習への意欲にも繋がりました。
        </p>

        <p class="question">
            Q. どのくらいのレベルまで出来るようになりましたか？
        </p>
        <p class="answer">
            3月末くらいからサイト作成をしています。就活用の自分のHP作成中でスマホ版はほぼ完成しました。ワードプレスは本を買って独学でしたが、他は授業で受けた言語を使用して作成しています。
        </p>

        <p class="question">
            Q. 自学習時間の確保は大変ではありませんでしたか？
        </p>
        <p class="answer">
            計画的に確保していたのでそこまで大変ではありませんでした。
        </p>

        <p class="question">
            Q.
            働いていて自学習時間が取れない人にとっては難しいカリキュラムだったと思いますか？
        </p>
        <p class="answer">
            ちょっと大変かもしれないですが、本人のやる気次第で確保できると思います。
        </p>

        <p class="question">Q. 苦労した点はありますか？</p>
        <p class="answer">
            最後の方は難しくて、スパルタ感を実感しましたね(笑)。でも、気合いで頑張って乗り越えられました。
        </p>

        <p class="question">
            Q. Code Villageならではの魅力はどんなところだと感じましたか？
        </p>
        <p class="answer">
            短期集中的に受講出来たところと、途中からレベル別になっていったのが本当によかったです。
        </p>

        <p class="question">
            Q. Code Villageに通って得たこと(技術以外で)はありますか？
        </p>
        <p class="answer">
            卒業後も一緒に勉強できる仲間ができた事もよかったです。<br />後は、すぐ質問するのではなく、出来る限り自分で調べる力が身についたと思います。
        </p>

        <p class="question">Q. 挫折しそうになったことがありますか？</p>
        <p class="answer">
            ありません。どれだけ難しくても、やる気でカバーしました。<br />調べても分からないところは質問させてもらっていたので大丈夫でした。
        </p>

        <p class="question">Q. どのくらい自学習しましたか？</p>
        <p class="answer">
            授業の日の授業前に集中的に時間を作るようにして、他の日も夜やっていました。<br />忙しくても必ず毎日パソコンを開く習慣をつけていました。<br />平均すると1日に2時間ですが、多い日は5時間くらいは自学習していました。
        </p>

        <p class="question">
            Q. これからのキャリアについてどのように考えていますか？
        </p>
        <p class="answer">
            今、就活中でIT企業に就職するつもりです。システム開発に拘ってはいませんが、休日を利用してシステムやサービスを開発したいと思っています。
        </p>

        <p class="question">
            Q. これからプログラミングを勉強しようとしている人に一言ください。
        </p>
        <p class="answer">
            パソコンに苦手意識を持っている人でも出来るようになるからそんなに難しく考えなくても大丈夫だと伝えたいです。でもやる気と自学習は絶対必要なので、覚悟は必要です。
        </p>

        <!-- pagenateボタン -->
        <div class="pagenate">
            <a href="./student1.html" class="page-btn prev-voice">
                <<前へ</a> <a href="./student3.html" class="page-btn next-voice">次へ>>
            </a>
        </div>
    </section>
    <% include ./src/components/footer %>
</body>

</html>