<!DOCTYPE html>
<html lang="ja">

<head>
    <% include ./src/components/head %>
</head>

<body>
    <% include ./src/components/header %>
    <section class="student-voice">
        <img src="./img/student1.png" alt="" />
        <p class="name">Y.Yさん(21歳 大学生)</p>

        <p class="question">Q. なぜプログラミングに興味を持ったんですか？</p>
        <p class="answer">
            今の時代はITが進んでいるので、プログラミング技術を持ってると有利だと思った事と、想いを形にすることに興味があったんです。
        </p>

        <p class="question">Q. 他のプログラミングスクールと比較しましたか？</p>
        <p class="answer">
            見学に行ったりして比較しました。他校は、ただ勉強してるだけと言うイメージで、実際に案件をこなして納品できるレベルまでいけるかわかりませんでした。
        </p>

        <p class="question">Q. 授業の雰囲気はどうでしたか？</p>
        <p class="answer">
            集団講義での授業なんですけど、詰まったときは一人ひとり対応してくれて分からないところはすぐ解決出来ました。ピリピリした雰囲気もなく居心地よく受講できました。
        </p>

        <p class="question">Q. 講師はどうでしたか？</p>
        <p class="answer">
            穏やかな口調で、丁寧な授業だったので分かり易かったです。
        </p>

        <p class="question">Q. カリキュラムの内容やレベルはどうでしたか？</p>
        <p class="answer">
            ちょうどよかったです。自学習をしていれば全く問題ないレベルだと思います。ただ、自学習する意欲がないと少し難しいかもしれないですね。
        </p>

        <p class="question">
            Q. どのくらいのレベルまで出来るようになりましたか？
        </p>
        <p class="answer">
            予約システムの作成までできるようになりました。予約システムそのものは授業でやっていませんが、調べたり、講師の方に聞いたりして作りました。
        </p>

        <img src="./img/student2.png" class="img-middle" alt="" style="float: left;" />
        <p class="question">
            Q. 自学習時間の確保は大変ではありませんでしたか？
        </p>
        <p class="answer">
            特に問題なく時間は確保できました。やる気があれば確保できるレベルだと思います。
        </p>

        <p class="question">
            Q.
            働いていて時間があまり確保出来ない人(自学習時間が少なくなってしまう人)にとっては難しいくらいのカリキュラムでしたか？
        </p>
        <p class="answer">
            重要なところは授業でやってくれてたので、そこをしっかり理解できれば全体の雰囲気がつかめると思います。あとは、実際に作ることで問題ないかと思います。とにかく本人のやる気があるかないかだと思います。
        </p>

        <p class="question">
            Q. Code Villageならではの魅力はどんなところだと感じましたか？
        </p>
        <p class="answer">
            自学習をしている時でも分からないところを質問出来る仕組みがあるのは凄くありがたかったです。
        </p>

        <p class="question">
            Q. Code
            Villageで会得したことで、最も価値のあるものは何だと思いますか？
        </p>
        <p class="answer">
            技術面になりますが、言語の使用用途を学べたので、授業で学んでいない言語でも、どの言語を使えばどんなサービスが作りたいかの具体的なイメージがつく様になりました。現在一緒に起業している仲間と出会えた事は大きいです。
        </p>

        <p class="question">Q. 挫折しそうになったことがありますか？</p>
        <p class="answer">
            ありません。難しいところは確かに難しいけど、そこは頑張るしかない！と思ってやってました。ちゃんと調べても分からないところは講師の方に質問できる環境があったので大丈夫でした。
        </p>

        <p class="question">Q. どのくらい自学習しましたか？</p>
        <p class="answer">
            平日はあまりしていなくて、週末にまとめて半日くらい(6~8時間くらい)自学習していました。
        </p>

        <p class="question">
            Q. これからのキャリアについてどのように考えていますか？
        </p>
        <p class="answer">
            現在、AI系の会社のインターンに行っています。<br />
            学生の間に学べる環境を色々変えながら経験を積んでいくつもりです。
            大学卒業後は企業に就職するつもりです。<br />
            エンジニアとしてかはまだ分からないですけど、基本的にはシステム開発に携われる職種に就きたいと思ってます。<br />
            ただ作るだけのエンジニアとしてだけではなく、戦略とかも含めて、ちゃんと考えてシステム開発をしたいです。<br />
            大手企業への就職は一部分しかやらせてもらえなさそうだからあまり魅力はなくて、若手にもある程度任せてくれる企業に務められたいと思っています。<br />
            将来的には、AIのことも理解して、AIを実際にシステムとかに組み込んだシステム開発をしたいとは思っていますが、色々やってみたい気持ちもあります。<br />
            ただ、システム開発には携わって行きたいです。
        </p>

        <!-- pagenateボタン -->
        <div class="pagenate">
            <a href="./student4.html" class="page-btn prev-voice">
                <<前へ</a> <a href="./student2.html" class="page-btn next-voice">次へ>>
            </a>
        </div>
    </section>

    <% include ./src/components/footer %>
</body>

</html>