///////////////////
//   02  flow(q-a)   //
///////////////////

.common-item-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, 28%);
  justify-content: space-between;
  margin-bottom: 60px;
  @include tab {
    grid-template-columns: 100%;
    grid-gap: 50px 0;
  }
}

.common-item:before {
  @include border-g;
}

.common-item {
  @include common-item;
}

//////////
// alfa //
//////////


.common-item.alfa:before {
  display: none;
}

.common-item {
  &.alfa {
    display: flex;
    flex-direction: row;
    width: 100%;
    & > * + * {//h3タグのサイズ
      font-size: 1.2rem;
    }
    @include tab {
      flex-direction: column;
    }
  }
  &-wrap.alfa {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  &__title.alfa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title-out.alfa {
    width: 45%;
    background: $grd-totop;
    padding-left: 5px;
    @include tab {
      width: 100%;
    }
  }
}

.common-item.alfa + * {
  margin-top: 2.5rem;
}
