
///////////////////
// 06 access     //
///////////////////

.access {
  display: flex;
  justify-content: space-between;
  height: 21rem;
  @include sp {
    flex-direction: column;
    height: auto;
  }
  & + * {
    margin-top: 39px;
  }
}


.map {
  width: 59%;
  @include sp {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.address {
  position: relative;
  width: 38%;
  @include sp {
    width: 100%;
  }
  & > * + * {
    margin-top: 1.5rem;
  }
}

.school {
  font-size: 1.5rem;
  @include sp {
    margin-top: 1em;
  }
}

.address-main-btn {
  @include main-btn(234px, 37px);
  position: absolute;
  bottom: 0;
  left: 0;
  @include sp {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }
}
