////////////////
//   header   //
////////////////


header {
  background-color: #222;
  color: $fc-white;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;

  transition: .5s;
}
header.active {
  transform: translateY(-100%);
}
header::after {
  @include border-g;
}

.hd-wrap {
  display: grid;
  grid-template-areas: 
    "logo nav btn";
  grid-template-columns: 43% 38% 1fr;
    @include tab {
      grid-template-areas:
        "logo btn hum";
      grid-template-columns: 1fr 150px 52px;
    }
  align-items: center;
  height: 60px;//=first-viewのmargin-top
  @include sp {
    height: 44px;
  }
  padding: 0 2%;
  @include tab {
    padding: 0 15px;
  }
}

.hd-logo {
  grid-area: logo;
  @include logo;
  a {
    display: inline;
  }
}

.hd-nav {
  grid-area: nav;
  &__item {
    display: inline-block;
    margin-right: 3%;
  }
  @include tab {
    display: none;
  }
}

.hd--main-btn {
  grid-area: btn;
  justify-self: end;
  @include main-btn(100%, 36px) {
    max-width: 226px;
  }
  @include tab {
    border-radius: 0;
    @include centering-lh(60px);
  }
  @include sp {
    @include centering-lh(44px);
  }
}

#hum-bar {
  display: none;
}
@include pc {
  #hd-nav--sp {
    display: none;
  }
}
///////////////////////////
// ハンバーガー(sp,tab用) ///
///////////////////////////
@include tab {
  #hd-nav {
    display: none;
  }

  #hd-nav--sp.menu-active {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(0);
  }

  #hd-nav--sp {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10% 0;
    background-color:  #222;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
  }
  .hd-nav__item--sp {
    text-align: center;
    & + * {
      margin-top: 2em;
    }
  }
  .hd-icon--sp {
    text-align: center;
    & > * + * {
      margin-left: 1rem;
    }
  }


  #hum-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: hum;
    text-align: center;
    height: 44px - 11px * 2;
      // headerのheight - 上下padding
    margin-left: 10px;
    cursor: pointer;
    .bar {
      display: inline-block;
      background-color: white;
      width: 28px;
      height: 1px;
    }
    #bar2{
      width: 40px;
    }
    #bar1, #bar2, #bar3 {
      transition: all 0.5s ease-in-out;
    }
    #bar1.hum-clicked{
      transform:
        rotateZ(-315deg)
        translateX(8px)
        translateY(-9px);
      transform-origin: top left;
      width: 32px;
    }
    #bar2.hum-clicked{
      transform:
        rotateZ(315deg)
        translateX(5px)
        translateY(4px);
      width: 32px;
    }
    #bar3.hum-clicked{
      transform: rotateZ(-675deg);
      transform-origin: bottom right;
      opacity: 0;
    }
  }
}