@import "reset"; //リセット
@import "lib"; //変数とか
@import "common"; //共通系
@import "header"; //ヘッダー
@import "footer"; //フッター

// 基本フォントカラー
$base-fc: #1e4159;
// 基本フォントサイズ
$base-fsz: 15px;
// 基本行間
$base-line-height: 1.6em;
// 基本全体余白
$sec-padding: 150px 15%;
$sec-padding-sp: 100px 8%;

$tab: 968px;
$sp: 600px;

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Khula";

  color: $base-fc;
  font-size: $base-fsz;
  line-height: $base-line-height;
  width: 100%;
}

// section共通部分
.curri,
.contact {
  padding: $sec-padding;
  padding-bottom: 0;
  @include tab {
    padding: $sec-padding-sp;
    padding-bottom: 0;
  }
  &__title {
    text-align: center;
    p {
      font-size: 14px;
      font-weight: bold;
    }
    p::after {
      display: block;
      border-bottom: 2px solid $base-fc;
      content: "";
      margin: 15px auto 25px auto;
      padding: 0;
      width: 50px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 50px;
      @include tab {
        font-size: 25px;
      }
    }
  }
  &__description {
    text-align: center;
  }
}

.curri-wrapper {
  background-color: #fff;
  padding: 5%;
  @include tab {
    padding: 10%;
  }
}

// カリキュラム共通部分↓
.curri-list {
  // ヘッダー部分
  &-item {
    box-shadow: 0 0 37px gray;
    // background-color: #F8FCFF;
    background-image: $grd-totop;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 100px;
    &:first-child {
      margin-top: 100px;
    }
    @include tab {
      padding: 2%;
    }
    &__introduction {
      font-size: $base-fsz;
      line-height: $base-line-height;
      color: black;
      padding-bottom: 50px;
    }
    &__head {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #000;
      padding-bottom: 15px;
      margin-bottom: 50px;
      @include tab {
        flex-direction: column;
        align-items: center;
      }
      &__title {
        font-size: 30px;
        @include sp {
          font-size: 20px;
        }
      }
      &__period {
        font-size: $base-fsz;
        color: #000;
        span {
          margin-left: 20px;
          @include sp {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.curri-list-item__description {
  // メイン部分
  font-size: $base-fsz;
  color: #000;
  &__title {
    color: #00578d;
    font-weight: bold;
    &:not(:first-child) {
      margin-top: 3%;
    }
  }
  &__title:before {
    display: inline-block;
    content: "";
    background-image: url(../img/check.png);
    background-size: cover;
    width: 22px;
    height: 22px;
    vertical-align: text-top;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  &__text {
    line-height: $base-line-height;
  }
}
// カリキュラム共通部分↑

// 初級flex&align-item用
.curri-beginner-flex {
  display: flex;
  height: auto;
  align-items: center;
  @include tab {
    align-items: end;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  & > img {
    margin: 2% 5% 2% 0;
    flex: none;
    height: 20%;
    object-fit: contain;
    width: 10%;
    @include tab {
      width: 15%;
    }
    @include sp {
      width: 20%;
    }
  }
  &__text {
    display: block;
  }
}

// 上級Git内リスト↓
.curri-list-item__description__text__list {
  list-style: none;
  & li {
    text-indent: 5%;
    &:before {
      display: inline-block;
      content: "";
      list-style: none;
      background-image: url(../img/check-box-mono.png);
      background-size: cover;
      width: 22px;
      height: 22px;
      vertical-align: text-top;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}
// 上級Git内リスト用

// footer&header

footer {
  color: #fff;
  background-color: $base-fc;
  padding-top: 60px;
  padding-bottom: 20px;
  .footer-list-wrap {
    padding: $sec-padding;
    padding-top: 0;
    padding-bottom: 50px;
    position: relative;
  }
  .footer-list__icon {
    font-size: 1.5em;
    position: absolute;
    right: 15%;
    bottom: 19%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    i:first-child {
      margin-right: 5px;
    }
  }

  ul {
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    text-align: left;
    li {
      font-size: $base-fsz;
      line-height: $base-line-height;
      // color: #fff;
      padding-right: 5px;
      display: inline-block;
      @include sp {
        font-size: 0.9em;
        display: block;
      }
      &:not(:first-child):before {
        content: "|";
        display: inline-block;
        padding-right: 5px;
        @include sp {
          display: none;
        }
      }
      [href="../#access"]:before {
        font-family: "Font Awesome 5 Free";
        content: "\f549";
        padding-right: 5px;
        font-weight: bold;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  ul:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-logo {
    padding: $sec-padding;
    padding-top: 20px;

    padding-bottom: 0;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    p {
      font-size: 0.9em;
    }
    .privacies {
      margin-bottom: 0;
      & li {
        font-size: 10px;
        @include sp {
          display: inline-block;
        }
      }
    }
  }
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu-trigger {
  display: none;
  @include tab {
    display: block;
  }

  position: relative;
  width: 30px;
  height: 24px;
  z-index: 10000;
  &.active {
    display: none;
  }
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 11px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-close-trigger {
  display: inline;
  transition: all 0.4s;
  box-sizing: border-box;
  span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    position: absolute;
    right: 30px;
    top: 23px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

header {
  height: 80px;
  width: 100vw;
  z-index: 6;
  position: fixed;
  background-color: rgba(144, 198, 221, 0.7);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  box-sizing: border-box;
  text-shadow: 0 0 5px gray;
  font-size: 13px;
  @include tab {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
  }
  h1 {
    font-size: 30px;
    a {
      text-decoration: none;
      color: white;
    }
    @include tab {
      font-size: 20px;
    }
    white-space: nowrap;
  }
}
nav {
  @include tab {
    display: none;
  }
  &.pc {
    a {
      text-decoration: none;
      color: white;
    }
    white-space: nowrap;
  }
  &.sp {
    opacity: 0;
    display: none;

    @include tab {
      display: block;
      transition: all 0.5s 0s linear;
      color: white;
      background-color: rgba(30, 65, 89, 0.5);
      flex-direction: column;
      width: 100vw;
      position: relative;
      z-index: -1000;
      pointer-events: none;
      &.active {
        pointer-events: auto;
        display: block;
        opacity: 1;
        z-index: 9999;
      }
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;

      ul {
        display: flex !important;
        flex-direction: column;
        li {
          position: relative;
          text-align: center;
          &:first-child {
            margin-top: 50px;
            border-top: #edf4ff 1px solid;
          }
          &:not(:last-child) {
            padding: 20px;
          }

          a {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10001;
            top: 0;
            left: 0;
          }
          border-bottom: 1px solid #edf4ff;
          &:last-child {
            border-bottom: none;
            margin: 120px 20px 20px;
            padding: 10px;
            text-align: center;
          }
        }
      }
    }
  }
  ul {
    display: flex;
    li {
      padding: 3px 10px;
      a {
        line-height: inherit;
      }
    }
    li:last-child {
      margin-left: 10px;
    }
    li:not(:last-child) {
      padding-top: 12px;
    }
    .reservation {
      background-color: #ff2757;
      border-radius: 2em;
      position: relative;
      line-height: 43px;
      height: 40px;

      &::after {
        content: "";
        border: 6px solid transparent;
        border-left: 10px solid #fff;
        width: 0;
        height: 0;
        margin-left: 5px;
        display: inline-block;
      }
      &:hover {
        background-color: #f96485;
        transition: all 0.5s 0s ease;
      }
    }
  }
}

body.is-menu-open {
  .wrapper {
    filter: blur(8px);
    transition: all 0.5s ease-out;
  }
}

.reservation-btn {
  &__wrapper {
    position: relative;
    bottom: -500px;
    width: 40vw;
    box-sizing: border-box;
    left: 2%;
    height: 70px;
    @include tab {
      width: 60%;
      margin: 50px 0;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }
    @include sp {
      width: 80%;
      left: 50%;
      font-size: 13px;
      white-space: nowrap;
    }
    &:hover {
      & .reservation-btn__main {
        transform: scaleX(1.1) scaleY(1.2);
      }
      & .reservation-btn__bg {
        transform: scale(0.95);
      }
    }
  }
  &__bg {
    transition: all 1s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0.5;
    position: absolute;
    width: 100%;
    border-radius: 3em;
    height: 100%;
    background-color: #ff2757;
    z-index: 5;
    left: 0;
    animation: btn 1s 0s infinite alternate none
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &__main {
    transition: all 1s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: inline-block;
    z-index: 6;
    width: 90%;
    height: 80%;
    background-color: #ff2757;
    text-decoration: none;
    position: absolute;
    border-radius: 3em;
    top: 10%;
    left: 5%;
    text-align: center;
    box-sizing: border-box;
  }
  &__description {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    color: white;
    line-height: 1em;
    display: block;
    text-decoration: none;
    font-weight: bold;
    word-break: break-all;
    @include tab {
      width: 80%;
      left: 50%;
    }

    &::after {
      content: "";
      border: 6px solid transparent;
      border-left: 10px solid #fff;
      width: 0;
      height: 0;
      margin-left: 5px;
      position: absolute;
      right: -20px;
      top: -1px;
      display: inline-block;
      @include tab {
        right: unset;
      }
    }
    span {
      font-size: 10px;
      vertical-align: middle;
      margin-right: 5px;
      @include tab {
        display: none;
      }
    }
  }
}

.contact {
  padding-top: 0;
  .reservation-btn__wrapper {
    bottom: -50px !important;
    @include tab {
      bottom: 0 !important;
    }
    left: 50%;
    transform: translateX(-50%);
    .reservation-btn__description {
      text-align: center;
      width: 80%;
      line-height: 19px;
      &::after {
        display: none;
      }
    }
  }
  .reservation-btn__description {
    left: 50%;
  }
  form {
    width: 100%;

    input,
    textarea,
    select {
      width: 100%;
      height: 30px;
      margin: 5px;
      border-radius: 10px;
      border: 2px solid #efefef;
      padding: 0 8px;
      &[type="textarea"] {
        height: 300px;
      }
      &[type="checkbox"] {
        width: auto;
      }
      @include sp {
        box-sizing: border-box;
      }
    }
    textarea {
      min-height: 300px;
      resize: none;
      &#js-area {
        padding-top: 1em;
      }
      &.close-area {
        display: none;
      }
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 4px 10px;
    }

    th {
      text-align: left;
    }

    tr {
      margin-bottom: 3px;
      // height: 50px;
      @include sp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      & td:last-child {
        @include sp {
          width: 100%;
        }
      }
    }
    td {
      text-align: left;
    }

    td.required {
      color: white;
      display: inline-block;
      padding: 0 2px;
      font-size: 14px;
      height: 20px;
      vertical-align: middle;

      &.true {
        background-color: red;
      }
      &.false {
        background-color: #d6dee3;
      }
    }
    td.checkbox {
      display: flex;
      align-items: center;
    }
    @include sp {
      td.school-choose {
        display: flex;
        align-items: center;
        input[type="radio"] {
          width: 20px;
          &:not(:first-child) {
            margin-left: 30px;
          }
        }
      }
    }
  }
}
