$grd-toright :linear-gradient(to right, #FFC119,#FF016A);
$grd-toleft :linear-gradient(to left, #FFC119,#FF016A);
$grd-tobottom : linear-gradient(to bottom, #FFC119,#FF016A);
$grd-totop : linear-gradient(to top, #FFC119,#FF016A);
$fc-white: #fff;
$p-mg-b: 1.7em;
$voice-img-w: 24.5vw;
$voice-item-padtop: $voice-img-w/2;

@mixin centering-lh($height){
  height: $height;
  line-height: $height;
  @content;
}
@mixin border-g {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background: $grd-toleft;
  @content;
}

@mixin logo {
  &:before {
    display: inline-block;
    margin-right: 0.25em;
    content: ">"
  }
  &:after {
    display: inline-block;
    margin-left: 0.25em;
    content: "<"
  }
}

@mixin main-btn($width, $height, $font-size: 1em, $opacity: 1) {
  color: $fc-white;
  font-weight: bold;
  font-size: $font-size;
  text-align: center;
  line-height: $height;
  width: $width;
  height: $height;
  border-radius: $height / 2;
  background: linear-gradient(to right, rgba(#FFC119, $opacity),rgba(#FF016A, $opacity));
  @content;
}

@mixin font-grd ($color: $grd-toright){
  background-color: $grd-toright;
  display: inline-block;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $color;
  @content;
}

@mixin common-item {
   box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  &__title {
    color: $fc-white;
    background-color: #000;
    padding: 1.5rem 2rem;
    font-weight: bold;
    text-align: center;
    & > *:first-child {// title直下のタグ変更対策
      font-size: 2.3rem;
      line-height: 1;
      margin-bottom: 0.9rem;
      & + * {// title直下のタグ変更対策
        font-size: 1.2rem;
        line-height: 1;
      }
    }
  }
  &__text {
    padding: 3.8rem 1.4rem;
  }
  @content;
}

/////////////////
// 共通スタイル //
/////////////////

html {
  font-size: 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.7;
}

.mg-b {
  margin-bottom: $p-mg-b;
}

.outer {
  padding-top: 110px;
  padding-bottom: 110px;
}

.inner {
  width: 74vw;
  margin: 0 auto;
}

.title {
  width: 438px;
  font-family: ヒラギノ角ゴシック,W8;
  margin: 0 auto 90px;
  display: grid;
  grid-template-areas: 
    "num cv"
    "num text"
    "bd bd";
  grid-template-columns: 2fr 5fr;
  & * {
    line-height: 1;
  }
  &__num {
    $fs: 5.7rem;
    grid-area: num;
    font-size: $fs;
    font-weight: bold;
  }
  &__cv {
    $fs: 2.5rem;
    grid-area: cv;
    font-size: $fs;
    font-weight: bold;
    margin-top: 2px;
  }
  &__text {
    $fs: 1.4rem;
    grid-area: text;
    font-size: $fs;
    font-weight: normal;
    margin-top: 3px;
  }
  &:after {
    grid-area: bd;
    @include border-g {
      width: 100%;
      margin-top: 10px;
    };
  }
}

////////////////
//   header   //
////////////////


header {
  background-color: #222;
  color: $fc-white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}
header::after {
  @include border-g;
}

.hd-wrap {
  display: grid;
  grid-template-areas: 
    "logo nav btn";
  grid-template-columns: 43% 38% 1fr;
  align-items: center;
  height: 60px;//=first-viewのmargin-top
  padding: 0 2%;
}

.hd-logo {
  grid-area: logo;
  @include logo;
}

.hd-nav {
  grid-area: nav;
  &__item {
    display: inline-block;
    margin-right: 3%;
  }
}

.hd--main-btn {
  grid-area: btn;
  justify-self: end;
  @include main-btn(100%, 36px) {
    max-width: 226px;
  };
}

////////////////////////
//   ファーストビュー   //
///////////////////////

.first-view {
  display: grid; 
  grid-auto-rows: minmax(1fr, auto);
  grid-template-columns: 4fr 3fr;
  margin-top: 60px;//=headerのheight 
  height: 675px;
  background-image: url(../img/top.jpeg);
  background-size: cover;
}

// .eyecatch {
//   height: 675px;
// }

.hdline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.82);
  color: $fc-white;
  padding: 90px 40px;
  &__copy {
    font-size: 2.5vw;
    font-weight: bold;
    color: #FFC119;//非対応ブラウザ用
    &__top {
      @include font-grd;
      margin-bottom: 24px;
    }
    &__btm {
      @include font-grd;
    }
  }
  &__li {
    display: flex;
    justify-content: space-between;
    &__item {
      width: 9vw;
      height: 9vw;
      min-width: 128px;
      min-height: 128px;
      text-align: center;
      border: 2px white solid;
      border-radius: 50%;
      & span {
        display: inline-block;
        margin-top: 45%;
        //////////////////////
        //  脳  筋  ！！！！  //
        //////////////////////
      }
    }
  }
}


.hdline--main-btn--shadow {
  @include main-btn(400px, 80px, 1em, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hdline--main-btn {
  @include main-btn(375px, 55px);
  a {
    position: relative;
  }
  .play-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 2em;
  }
}


/////////////
//  about  //
/////////////

.about__intro {
  text-align: center;  
  & .fw-bold {
    $fs: 1.5em;
    font-size: $fs;
    font-weight: bold;
    margin-bottom: ($p-mg-b / $fs);
  }
}

/////////////
//  point  //
/////////////

.point {
  width: 100%;
  display: flex;
  justify-content: center;
}
.point__item {
  width: 30%;
  padding: 3% 4%;
}
.point__icon {
  width: 60%;
  margin: 0 auto 32px;
  & > img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.point__hd {
  text-align: center;
  margin-bottom: 32px;
  &__num {
     font-family: "ヒラギノ角ゴシック";
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 9px;
     line-height: 1;
  }
  &__title {
    font-family: "ヒラギノ角ゴシック W6";
  }
}

.point__item--dark {
  background-color: #FAFAFA;
}

///////////////////
//   02  flow(q-a)   //
///////////////////

.common-item-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, 28%);
  justify-content: space-between;
  margin-bottom: 60px;
}

.common-item:before {
  @include border-g;
}

.common-item {
  @include common-item;
}



//////////
// alfa //
//////////


.common-item.alfa:before {
  display: none;
}

.common-item{
  &.alfa {
    display: flex;
    flex-direction: row;
    width: 100%;
    & > * + * {//h3タグのサイズ
      font-size: 1.2rem;
    }
  }
  &-wrap.alfa {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  &__title.alfa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title-out.alfa {
    width: 45%;
    background: $grd-totop;
    padding-left: 5px;
  }
}

.common-item.alfa + * {
  margin-top: 2.5rem;
}

////////////////
//  02 online //
////////////////

.online  {
  background-image: url(../img/cvo.jpeg);
  background-size: cover;
  background-position: center;
  &--filter {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    padding: 50px 0;
  }
}

.online-flex {
  display: flex;
  justify-content: space-between;
}

.online__img {
  width: 40%;
  img {
    width: 100%;
    height: auto;
  }
}

.online__text {
  width: 50%;
}

.online__text__hd {
  line-height: 1;
  border-bottom: 1px solid #000;
  padding-bottom: 1.4rem;
  margin-bottom: 1.4rem;
  *:first-child {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.4em;
    & + * {
      font-size: 1.2rem;
      line-height: 1;
    }
  }
}

.online__text__btn {
  @include centering-lh(47px);
  background-color: #000;
  color: $fc-white;
  width: 195px;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  a {
    display: block;
  }
}

///////////////
//02 pre-cha //
///////////////
.pre-cha {
  background-image: url(../img/code.png);
  background-size: cover;
  background-position: center;
  &--filter {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(#FF006B, 1), rgba(#FFCA16, 1));
    padding: 50px 0;
  }
}

.pre-cha-flex {
  display: flex;
  justify-content: space-between;
}

.pre-movie {
  width: 46%;
  background-color: #000;
}

.pre-cha__text {
  width: 50%;
  color: $fc-white;
}

.pre-cha__text__hd {
  line-height: 1;
  border-bottom: 1px solid #fff;
  padding-bottom: 1.4rem;
  margin-bottom: 1.4rem;
  *:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
}

.pre-cha-btn {
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  @include centering-lh(70px);
}

///////////////////
// 03 curriculum //
///////////////////

.curriculum__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 90px;
}
.curriculum__item__out {
  width: 28%;
  border-radius: 5px;
  background: $grd-totop;
  padding: 5px;
  &__in {
    background-color: #fff;
    border-radius: 5px;
    padding: 13% 8% 10%
  }
}

.curriculum__item__title {
  text-align: center;
  font-size: 1.28rem;
  font-weight: bold;
  padding: 1.39em 0.4em;//左右は0でいいかも
}

.curriculum__item__text {
  margin-bottom: 2em;
  &:before {
    @include border-g;
    width: 84%;
    margin: 0 auto 2em;
  }
}

.curriculum__item__check {
  li{
    display: flex;
    align-items: center;
    line-height: 1.9em;
    &:before {
      display: inline-block;
      content: "";
      background-image: url(../img/check.png);
      background-size: cover;
      width: 1.4em;
      height: 1.4em;
      margin-right: 1em;
    }
  }
}

.curriculum--main-btn {
  @include main-btn(320px, 50px);
  margin: 0 auto;
}

///////////////////
// 03 price      //
///////////////////

.price {
  background-image: url(../img/cvo.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 67px 0 100px;
  &__wrap {
    background-color: rgba(#fff, 0.76);
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    padding: 67px 0;
    small {
      font-size: 0.9rem;
    }
    & * + * {
      margin-top: 0.4rem;
    }
  }
}

.price__hd {
  // text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  &:after {
    display: block;
    content: "";
    border-top: 1px solid #000;
    margin: 1em auto;
    width: 86%;
  }
}

.price__price, .price__tax {
  display: inline-block;
}

.price__price {
  font-family: "ヒラギノ角ゴシック";
  font-size: 2.4rem;
  font-weight: bold;
}
.price__tax {
  margin-left: 1em;
}


///////////////////
// 04 voice      //
///////////////////

.inner--voice {
  overflow-x: hidden;
  padding-bottom: 6px; // box-shadow対策
  &:before, &:after {
    font-size: 10em;
    line-height: 1;
    @include font-grd($grd-totop);
  }
}

.voice__slide {
  margin-top: $voice-img-w * 0.9;
  // margin-top: $voice-img-w * 0.6 + 90px);
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  & > * + * {
    margin-left: 30px;
  }
}

.voice__item {
  position: relative;
  width: 42%;
  flex-shrink: 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  padding: $voice-item-padtop 4vw 2.5vw;
  opacity: 0.5;
  &__text {
    margin-bottom: 3rem;
  }
  &__intro {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__name {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1em 0 1.5em;
    &:after {
      @include border-g;
      width: 8em;
      height: 2px;
      margin: 0.7em auto;
    }
  }
  &__more {
    text-align: right;
    a {
      display: inline;
    }
  }
}

// アニメーション
.voice__item{
  transform: scale(0.8);
  transition: all 600ms;
  transition-timing-function: cubic-bezier(0.76, 2.21, 0.65, 0.49);
  &:hover {
    transform: scale(0.85);
  }
  &.is-center {
    transform: scale(0.9);
    opacity: 1;
    &:hover {
      transform: scale(1.0);
    }
  }
}

.voice__item__img {
  transform: translate(-50%,-50%);
  position: absolute;
  top: -10%;
  left: 50%;
  width: $voice-img-w;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  img {
    width: 100%;
  }
}


///////////////////
// 05 q a        //
///////////////////

.q-a {
  background-color: #fafafa;
  .common-item-wrap {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 40px 8%;
  }
}

.common-item {// 詳細度調整用
  &__title {// 詳細度調整用
    .question {
      font-family: "ヒラギノ角ゴシック";
      font-size: 1.3rem;
      font-weight: bold;
      color: $fc-white;
    }
    .answer {
      font-size: 1rem;
      font-weight: normal;
    }
  }
}



///////////////////
// 06 access     //
///////////////////

.access {
  display: flex;
  justify-content: space-between;
  height: 21rem;
  &-tokyo {
    margin-bottom: 40px;
  }
}

.map {
  width: 59%;
  iframe {
    width: 100%;
    height: 100%;
  }
}
.address {
  position: relative;
  width: 38%;
  & > * + * {
    margin-top: 1.5rem;
  }
}

.school {
  font-size: 1.5rem;
}

.address-main-btn {
  @include main-btn(234px, 37px);
  position: absolute;
  bottom: 0;
  left: 0;
}



/////////////
//  footer //
/////////////

footer {
  color: $fc-white;
  background-color: #000;
  padding-top: 3rem;
  z-index: 100000;
}

.ft-inner {
  position: relative;
}

.ft-logo {
  font-size: 1.6rem;
  margin-bottom: 1.3em;
  line-height: 1;
  @include logo;
  a {
    display: inline;
  }
}

.ft-sns-link {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-insta, .icon-tw {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  & i {
    display: inline-block;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
  }
}

.ft-list {
  margin-bottom: 5em;
  li {
    display: inline-block;
    & + *:before {
      display: inline-block;
      content: "/";
      margin: 0 1rem;
    }
    a {
      display: inline;
    }
  }
}

.ft-sns-link {
  color: white;
}



.ft-inc {
  margin-bottom: 60px;//ft-fixedのheightと同値
  border-top: 1px solid white;
  padding: 1.8em;
  & small {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
.ft-fixed {
  $height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #000;
  width: 100%;
  height: $height;
  &__wrap {
    display: flex;
    width: 56%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    & > p {
      font-weight: bold;
      @include centering-lh($height);
    }
  }
}

.ft-main-btn {
  @include main-btn(226px, 36px);
}